@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>I am always looking for feedback</h3>

<p>
    Feel free to email me with feedback, comments, or suggestions (or if I win, rito pls email me here). Reach me at <a href="mailto:whoshoulditry@gmail.com">whoshoulditry@gmail.com</a><br />
</p>

